/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background: #3ea125;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{

}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius : 10px;
}

.text-primary-p{
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
}

.font-bold{
    font-weight: 700;
}

.text-title{
    color: #2e4a66;
}

.text-lightblue{
    color: #469cac;
}

.text-red{
    color: red;
}
.text-yellow{
    color: yellow;
}
.text-green{
    color: green;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "sidebar nav nav nav" "sidebar main main main";
    
}

@media only screen and (max-width:978px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "nav" "main";
    }
} */
*{
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    margin-right: 10px;
    position: fixed;
    top: 0;

    
}
.gridd{
    margin-left: 5vw;
    padding-left: 7vw;
}
.main-content{
    background-color: black;
}
.container1{
    display: flex;
}
.nav{
    height: 25px;
    
}
.graph{
    border: 1px solid black;
}